
<h1>マイページ</h1>
<h2>登録情報</h2>
<table class="table">
  <tbody>
  <tr><th>姓</th><th><% @customer.last_name %></th><th>名</th></tr>
  <tr><th>姓カナ</th><th>名カナ</th></tr>
  <tr><th>郵便番号</th></tr>
  <tr><th>住所</th></tr>
  <tr><th>電話番号</th></tr>
  <tr><th>メールアドレス</th></tr>
  <tr><th>パスワード</th></tr>
  </tbody>
</table>
