<h1>マイページ</h1>
<h2>登録情報</h2>
<table class="table">
  <tr>
    <th></th>
     <th>姓</th><th><%= customer.last_name %></th><th></th>名</th><th><%= customer.first_name %></th>
     <th>姓カナ</th></th><%= customer.last_name_kana %><th></th>名カナ</th><th><%= user.first_name_kana %></th>
  </tr>
</table>
